button {
	margin: 5px;
}
input {
	margin: 5px;
}
header {
	display: inline-block;
	text-align: center;
}
form {
	float: right;
}
.jumbotron {
	margin-top: 10px;
	background-color: green;
	color: white;
}