body {
	
}

button {
	margin: 5px;
}
input {
	margin: 5px;
}
header {
	display: inline-block;
	text-align: center;
	font-family: 'Rock Salt', cursive;
}

.jumbotron {
	margin-top: 10px;
	background-color: green;
	color: white;
	opacity: .75;
}
